#header {
    height: 50px;
    background-color: #10284e;
    color: #fff;
}

#header h1 {
    color: #30caa0;
}

a:link,
a:visited {
    color: #10284e;
}

div.breadcrumbs {
    background-color: #30caa0;
    color: #10284e;
}

.module h2, .module caption, .inline-group h2 {
    background-color: #30caa0;
}